@charset "UTF-8";
/* font-family: 'Aleo', serif;
font-family: 'Josefin Sans', sans-serif; */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Fråga...kan man göra  grid över en bild?? Isåfall hade ja gjort hela hemsidan med grid, lättare att placea ut allt då?*/
/*.gridcontainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
    width: 1173px;
    height: 8560px; 
    margin:auto; 
  }*/
h2 {
  font-size: 36px;
  font-weight: 400;
}

body, html {
  height: 100%;
  max-width: 1773px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Aleo', serif;
  color: white;
}

.all__midpart1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.mid1__image {
  background: url(../images/mid.png) no-repeat center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  position: relative;
  overflow: hidden;
  height: 685px;
  max-width: 1773px;
  width: 100%;
  background-size: cover;
}

.midblock__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mini1, .mini2 {
  float: right;
  margin-bottom: 10px;
}

.mid__text {
  font-family: 'Josefin Sans', sans-serif;
  color: #E8E8E8;
  font-size: 16px;
  line-height: 26px;
}

.btn__mid {
  color: white;
  background-color: #496BFE;
  opacity: 0.6;
  border-style: none;
  position: absolute;
  width: 228px;
  height: 63px;
  cursor: pointer;
}

.btn__mid:hover {
  background-color: #5474FD;
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.box__container1 {
  width: 560px;
}

.box__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mini1 {
  background: url(../images/mini_1.png);
  width: 350px;
  height: 220px;
}

.mini2 {
  background: url(../images/mini_2.png);
  width: 350px;
  height: 220px;
  float: right;
}

.image__box1 {
  width: 27%;
}

.image__box2 {
  margin-top: 10px;
  width: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* PART TWO OF MIDPAGE STARTS*/
.box__container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1773px;
  width: 100%;
  height: 340px;
  background-color: #333333;
}

.search__image {
  background: url(../images/search.png);
  max-width: 353px;
  width: 100%;
  height: 163px;
}

.verified__image {
  background: url(../images/verific.png);
  max-width: 200px;
  width: 100%;
  height: 161px;
}

.thumbs__image {
  background: url(../images/thumb.png);
  max-width: 215px;
  width: 100%;
  height: 174px;
}

/*NEW SECTION STARTS*/
.mid2__image {
  background: url(../images/mid2.png) no-repeat center;
  position: relative;
  overflow: hidden;
  height: 700px;
  max-width: 1773px;
  width: 100%;
  background-size: cover;
}

.box__card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #232323;
  opacity: 0.9;
  width: 543px;
  height: 374px;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card1__btn {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  position: relative;
  width: 228px;
  height: 63px;
  background-color: #496BFE;
  color: white;
  opacity: 0.8;
  border-style: none;
  margin-top: 20px;
  cursor: pointer;
}

.card1__btn:hover {
  color: black;
  background-color: #5474FD;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*midpart 3 starts*/
.last__image {
  background: url(../images/bottom.png) no-repeat center;
  background-size: auto;
  position: relative;
  overflow: hidden;
  height: 700px;
  max-width: 1773px;
  width: 100%;
  background-size: cover;
}

.box__card2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #232323;
  opacity: 0.9;
  width: 543px;
  height: 374px;
  padding: 20px;
  position: absolute;
  top: 60%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.box__container6 {
  max-width: 1773px;
  width: 100%;
  height: 731px;
}

.box__card3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: #232323;
  opacity: 0.9;
  width: 668px;
  height: 287px;
  padding: 40px;
  position: relative;
  top: 60%;
  left: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fa-quote-left {
  color: #5474FD;
  font-size: 40px;
}

.header__image {
  position: relative;
  overflow: hidden;
  max-width: 1773px;
  width: 100%;
  height: 820px;
  background: url(../images/header.png) no-repeat center;
  background-size: cover;
}

.head__container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
  text-transform: uppercase;
  max-width: 100%;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

.scroll:hover {
  color: black;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 4.8px;
  font-size: 48px;
}

.safe__travel {
  letter-spacing: 6.82px;
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 653px;
  width: 100%;
  height: 63px;
  letter-spacing: 2.8px;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  max-width: 503px;
  width: 100%;
  height: 63px;
  background: #f1f1f1;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2.8px;
}

/* Style the submit button */
form.example button {
  float: left;
  max-width: 153px;
  width: 100%;
  height: 63px;
  /*Hur får jag in knappen i input boxen?*/
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: inherit;
}

form.example button:hover {
  background: #0b7dda;
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.section1 {
  text-decoration: none;
  color: white;
}

/*
  .fas {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  */
/*NAVBAR STARTS*/
.logo {
  cursor: pointer;
  margin-right: auto;
  height: 20px;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10%;
  /*height: 50px;*/
  background-color: #5474FD;
}

.nav__li {
  list-style: none;
  display: inline-block;
}

.nav__link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 0px 20px;
}

.nav__link:hover {
  color: black;
}

.footer {
  position: relative;
  margin: 0;
}

.all__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  color: white;
  max-width: 1773px;
  width: 100%;
  height: 271px;
}

.footer__box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.text__footer {
  letter-spacing: 1.6px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Josefin Sans', sans-serif;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-pinterest, .fa-youtube {
  color: white;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-youtube:hover {
  color: #5474FD;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/*# sourceMappingURL=index.css.map */